table {
    border-spacing: 205px; 
}
td {
    font-family: Georgia;
    padding: 2px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
}
.center {
    text-align: center;
}

body style {
    color: #9c9c9c;
}
.logo{
    font-family: Georgia;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}

.pill{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:whitesmoke;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background: royalblue;
    cursor:pointer;
    display:block;
    margin: auto;

}
.pill:hover{
    background: blueviolet;
}
.header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
    position: fixed;
    top:0;
    left: 0;
    width : 100%;
    padding:5px 95px;
    background:grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 18px;
    color:black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width:0;
    height:2px;
    background: black;
    transition: .3s;
}
.navbar a:hover::before{
    width:100%;
}
.product_admin{
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    font-weight: 500;

}

.product_name{
    font-family: Georgia;
    font-size:15px;
    text-align: center;
    font-weight: 700;
}
form{
    text-align: center;
    font-family: Georgia;
}
.end{
    font-family: Georgia;
    font-size: 23px;
    text-align: center;
}